html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    overflow-x: hidden;
    display: block;
}

body {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    line-height: 1.33333;
    color: #adadad;
    background-color: #fff;
}

/* global */
p,
.container,
ul,
li,
div,
h1,
h2,
h3,
hr {
  margin: 0;
  padding: 0;
}

input, textarea {
  color: #999999;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

a:focus,
input:focus,
textarea:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #999999;
  -webkit-text-fill-color: #6a707e;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

/*container*/
.container {
    width: 100%;
}

/*Index top heading*/
.top-heading {
    margin-top: 30px;
    text-align: center;
}

.top-heading h2 {
    margin-top: 10px;
    color: #000;
    font-weight: 700;
}

/*Navigation section*/
.index-navigation-section {
    margin-top: 15px;
    height: 70px;
    box-sizing: border-box;
}

/*Navbar*/
.navbar {
    height: 70px;
    padding-left: 58px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 700;
    background: black;
    margin-bottom: 0px;
}

.navbar-header {
    color: white;
    margin-right: 35px;
}

.navbar-header #phn-icon {
    padding-top: 10px;
}

.nav li a {
    color: white;
    height: 46px;
    margin-bottom: 13px;
}

.nav li a:hover,
.nav .active a {
    background: #fbc318;
    border-radius:  28px;
}

.social-media {
    margin-top: 11px;
    margin-left: 50px;
    visibility: hidden;
}

.social-media a {
    margin-left: 5px;
}

.dropdown-menu {
    box-sizing: border-box;
    background-color: rgb(28, 28, 28);
    width: 200px;
}

.options li {
    padding-top: 20px;
}

.options li:last-child {
    padding-bottom: 20px;
}

.options li a {
    font-size: 14px;
    color:#fbc318;
    text-decoration: none;
}

.options li a:hover {
    background-color: rgb(28, 28, 28);
    border-radius: 0;
}

/*General header*/
.logo-section {
    margin-top: -8px;
    padding-right: 50px;
}

/*carousel*/
.carousel-caption h1 {
    font-weight: bolder;
    color: white;
    font-size: 48px;
}

.carousel-caption h4 {
    font-weight: bolder;
    color: white;
    margin-bottom: 10px;
}

.carousel-caption a {
    text-decoration: none;
    background-color: #fbc318;
    color: white;
    padding: 10px;
    font-weight: bolder;
}

.carousel-caption a:hover {
    background-color: black;
    color: #fbc318;
}

.more-btn {
    margin-top: 30px;
}

.home-image-section {
    margin-bottom: 0px;
}

/*About Us*/
.about-us-image-area {
    background-image: url("../../assets/general/about-us.jpg");
    height: 300px;
}

.about-us-image-area p,
.solar-lights-image-area p {
    font-size: 32px;
    text-align: center;
    color: #fbc318;
    font-weight: bolder;
    padding-top: 90px
}

.about-headers {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    color: black;
    margin-top: 30px;
}

.about-images {
    text-align: center;
    margin-top: 15px;
}

.about-images img {
    border-radius: 60px;
}

.about-details {
    padding: 20px 100px 0 100px;
    font-size: 16px;
}

.about-details p {
    padding-bottom: 10px;
}

.about-details p:last-child {
    padding-bottom: 0px;
}

.wwd-details {
    padding-bottom: 50px;
}

.cont-lnk {
    color: #fbc318;
    font-weight: bolder;
}

.about-details p a:hover {
    color: #fbc318;
    text-decoration: none;
}

/*Solar Flood Lights*/
.solar-lights-image-area {
    background-image: url("../../assets/general/solar-solutions.jpg");
    height: 300px;
}

.solar-lights-one-title {
    color: #fbc318;
    font-size: 18px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
    font-weight: bolder;
}

/*solar, street, led*/
.solar-lights-one-row,
.street-lights-row,
.led-bulbs-row {
    padding-left: 80px;
    padding-right: 40px;
}

.prd-align {
    text-align: center;
}

.flood-prod-details {
    padding-bottom: 50px;
}

/*solar lights and street lights*/
.flood-prod-details h4,
.street-prod-details h4,
.led-bulbs-area-details h4 {
    color: #fbc318;
    font-weight: bolder;
}

.flood-prod-details ul li,
.street-prod-details ul li,
.led-bulbs-area-details ul li {
    color: black;
    padding-bottom: 10px;
}

/*Solar Street Lights*/
.street-lights-title {
    color: #fbc318;
    font-size: 18px;
    text-align: center;
    padding-bottom: 50px;
    font-weight: bolder;
}

.street-prod-details {
    padding-top: 10px;
}

/*Led Bulbs*/
.led-bulbs-title {
    color: #fbc318;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
}

.led-bulbs-area-details {
    padding-bottom: 40px;
}

/*fleet management image*/
.fleet-management-image-area {
    background-image: url("../../assets/general/final-fleet.jpg");
    height: 300px;
}

/*vehicle tracking image*/
.vehicle-tracking-image-area {
    background-image: url("../../assets/general/vehicle-tracking.jpg");
    height: 300px;
}

/*motorcycle tracking image*/
.motorcycle-tracking-image-area {
    background-image: url("../../assets/general/vehicle-tracking.jpg");
    background: no-repeat;
    height: 300px;
}

/*generator-monitoring image*/
.generator-monitoring-image-area {
    background-image: url("../../assets/general/vehicle-tracking.jpg");
    background: no-repeat;
    height: 200px;
}

/*razor wire images*/
.razor-wire-image-area {
    background-image: url("../../assets/razor-wire-fences/wall-fence-razor-wire.png");
    height: 200px;
}

.razor-wire-two-image-area {
    background-image: url("../../assets/razor-wire-fences/wall-fence-razor-wire.png");
    height: 430px;
}

/*automated gate images*/
.automated-gate-image-area {
    background-image: url("../../assets/razor-wire-fences/wall-fence-razor-wire.png");
    height: 200px;
}

.automated-gate-two-image-area {
    background-image: url("../../assets/automated-gate-control/automated-gate-4.png");
    height: 450px;
}

/*car alarm systems images*/
.car-alarms-image-area {
    background-image: url("../../assets/automated-gate-control/automated-gate-4.png");
    height: 200px;
}

.car-alarms-image-two-area {
    background-image: url("../../assets/car-alarm-systems/car-alarm-7.png");
    height: 350px;
}

/*aeroplane warning lights image*/
.aircraft-lights-image-area {
    background-image: url("../../assets/aircraft-warning-lights/aeroplane.jpg");
    height: 200px;
}

/*contact us image*/
.contact-image-area {
    background-image: url("../../assets/general/contact-us.jpg");
    height: 300px;
}

/*Fleet management
  Vehicle Tracking
  Motorcycle Tracking
  Generator Monitoring
  Razor Wire
  Automated Gate
*/
.fleet-management-info,
.vehicle-tracking-info,
.motorcycle-tracking-info,
.generator-monitoring-info,
.razor-wire-info,
.automated-gate-info {
    padding-bottom: 120px;
}

.fleet-management-title,
.vehicle-tracking-title,
.motorcycle-tracking-title,
.generator-monitoring-title,
.razor-wire-title,
.automated-gate-title,
.car-alarms-title {
    padding-top: 30px;
    padding-left: 80px;
    padding-bottom: 20px;
}

.fleet-management-title h1,
.vehicle-tracking-title h1,
.motorcycle-tracking-title h1,
.generator-monitoring-title h1,
.razor-wire-title h1,
.automated-gate-title h1,
.car-alarms-title h1 {
    color: #fbc318;
    font-weight: bolder;
}

.fleet-management-details-one p,
.vehicle-tracking-details-one p,
.motorcycle-tracking-details-one p,
.generator-monitoring-details-one p,
.razor-wire-details-one p,
.automated-gate-details-one p,
.car-alarms-details-one p {
    padding-left: 80px;
    padding-bottom: 10px;
    font-size: 16px;
}

.fleet-management-details-two,
.vehicle-tracking-details-two,
.motorcycle-tracking-details-two,
.generator-monitoring-details-two {
    padding-top: 30px;
    background-color: rgb(28, 28, 28);
    padding-bottom: 50px;
}

.fleet-management-details-two h4,
.vehicle-tracking-details-two h4,
.motorcycle-tracking-details-two h4,
.generator-monitoring-details-two h4 {
    color: #fbc318;
    padding-left: 10px;
    font-size: 16px;
}

.fleet-management-list-one,
.vehicle-tracking-list-one,
.motorcycle-tracking-list-one,
.generator-monitoring-list-one {
    padding-left: 10px;
}

.fleet-management-list-one p,
.vehicle-tracking-list-one p,
.motorcycle-tracking-list-one p,
.generator-monitoring-list-one p {
    padding-bottom: 10px;
}

.fleet-adv {
    font-weight: bolder;
    color: white;
}

.contact-div {
    text-align: center;
    background-color: rgb(75, 73, 73);
    padding: 20px 20px 20px 20px;
}

.contact-div a {
    font-size: 46px;
    color:#fbc318;
    text-decoration: none;
}

/*Vehicle Tracking
  Motorcycle Tracking
  Generator Monitoring
*/
.vehicle-tracking-list-one li,
.motorcycle-tracking-list-one li,
.generator-monitoring-list-one li {
    padding-bottom: 5px;
}

/*razor wire product details
  automated gate product details
*/
.razor-wire-details-one h4,
.automated-gate-details-one h4 {
    color:#fbc318;
    padding-left: 80px;
    font-weight: bolder;
}

.prd-serv {
    padding-left: 80px;
    font-weight: bolder;
}

.prd-serv li,
.prd-serv-2 li {
    padding-bottom: 10px;
}

.prd-serv-2 {
    font-weight: bolder;
}

/*cctv cameras*/
.cctv-camera-title,
.aircraft-lights-title {
    color: #fbc318;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.cctv-prd-title,
.camera-footage-title,
.aircraft-lights-prd-title {
    color: #fbc318;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 30px;
}

.camera-prd {
    padding-left: 80px;
}

.services-title {
    color: #fbc318;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
}

.services-details {
    text-align: center;
    padding-bottom: 50px;
    color: black;
}

.services-details ul li {
    padding-bottom: 10px;
}

/*car alarms*/
.products-title-row {
    padding-left: 80px;
    padding-bottom: 30px;
    color: #fbc318;
    font-weight: bolder;
}

.car-alarms-products-div {
    padding-bottom: 20px;
    padding-left: 80px;
}

.car-alarm-pagination {
    padding-bottom: 15px;
}

/*aircraft warning lights*/
.aircraft-lights-one-row {
    padding-left: 80px;
    padding-bottom: 60px;
}

.aircraft-lights-two-row {
    padding-left: 80px;
    padding-bottom: 30px;
}

.air-craft-warning-pagn {
    padding-bottom: 30px;
}

/*contact*/
.contact-title {
    text-align: center;
    color: black;
    font-weight: bolder;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-form {
    padding-left: 80px;
    padding-bottom: 120px;
}

.form-inp input {
    width: 350px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 1px solid grey;
    padding-left: 15px;
}

.form-inp textarea {
    width: 350px;
    height: 100px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.form-btn {
    padding-left: 150px;
}

.form-btn button {
    width: 200px;
    height: 50px;
    background-color: #fbc318;
    color: white;
    font-weight: bolder;
    border: 1px solid #fbc318;
    border-radius: 25px;
}

.contact-details span {
    color: black;
    font-weight: 700;
}

.contact-details p {
    margin-bottom: 30px;
}

.form-btn button:hover {
    background-color: rgb(75, 73, 73);
    border: 1px solid rgb(75, 73, 73);
}

.form-btn button:visited {
    background-color: rgb(75, 73, 73);
    border: 1px solid rgb(75, 73, 73);
}

/*footer*/
.main-footer-section {
    background-color: rgb(28, 28, 28);
    padding: 50px 0 50px 50px;
}

.first-footer-column p,
.footer-tle {
    color: white;
    font-weight: bolder;
    font-size: 15px;
    padding-bottom: 30px;
}

.first-footer-column #phn-area {
    padding-bottom: 10px;
}

.det-color {
    color: #fbc318;
}

.second-footer-column,
.third-footer-column,
.fourth-footer-column,
.fifth-footer-column {
    padding-top: 1px;
}

.third-footer-column ul li,
.fourth-footer-column ul li {
    padding-bottom: 20px;
}

.second-footer-column ul li a,
.third-footer-column ul li a,
.fourth-footer-column ul li a
{
    text-decoration: none;
}

.second-footer-column ul li a:hover,
.third-footer-column ul li a:hover,
.fourth-footer-column ul li a:hover
{
    color: #fbc318;
}

.copyright-section {
    background-color: rgb(28, 28, 28);
    text-align: center;
    padding-bottom: 80px;
    color: white;
}
