html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  overflow-x: hidden;
  display: block;
}

html {
  background-color: #eeeeee;
  overflow-y: hidden;
}

body {
  color: #6a707e;
}

/* global */
p,
.container,
ul,
li,
div,
h1,
h2,
h3,
hr {
  margin: 0;
  padding: 0;
}

input, textarea {
  color: #999999;
}

a:focus,
input:focus,
textarea:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #999999;
  -webkit-text-fill-color: #6a707e;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

/*container*/
.container {
  width: 100%;
}

/*info area*/
.info-bar-section {
  background: #009fe3;
  padding: 15px 0 15px 75px;
  color: #ffffff;
  font-size: 13px;
}

.contact {
  padding-left: 50px;
}

.location .glyphicon-map-marker {
  padding-right: 2px;
}

.contact span {
  padding-right: 5px;
}

.glyphicon-envelope {
  padding-left: 15px;
}

.email-address a {
  color: #ffffff;
  text-decoration: none;
}

.email-address a:hover {
  color: #cccccc;
}

/*header area*/
.navigation-section {
  height: 80px;
  margin-top: 0;
}

.navbar {
  height: 70px;
  padding-left: 58px;
  padding-top: 10px;
  font-size: 13px;
  font-weight: 700;
}

.navbar-brand img {
  margin-top: -14px;
}

.navbar-nav {
  margin-top: 1px;
  padding-left: 50px;
}

.navbar-nav li a {
  color: #999999;
  padding-bottom: 22px;
}

.navbar-nav .list-item a:hover {
  color: #009fe3;
  border-bottom: 4px solid #009fe3;
  background: #ffffff;
}

.navbar-nav .drop-down-list-item a:hover {
  color: #009fe3;
  background: #ffffff;
}

.navbar-nav .drop-down-list-item .company-options li a:hover,
.navbar-nav .drop-down-list-item .security-options li a:hover {
  background: #009fe3;
  color: #ffffff;
}

/* company dropdown menu*/
.company-dropdown-menu {
  padding: 0;
  margin: 0;
  width: 165px;
  height: 173px;
}

.company-div {
  padding: 0;
  margin: 0;
  width: 165px;
  height: 173px;
}

.company-options {
  width: 164px;
  height: 173px;
}

.company-options li {
  list-style: none;
  width: 163px;
  height: 43px;
  border-bottom: 1px solid #cccccc;
}

.company-options li a,
.security-options li a {
  color: #999999;
  font-size: 13px;
  font-weight: 700;
  padding: 11px 0 11px 20px;
  text-decoration: none;
  display: inline-block;
}

.company-options .about-us {
  padding-right: 85px;
  padding-bottom: 13px;
}

.company-options .clients {
  padding-right: 72.5px;
  padding-bottom: 13px;
}

.company-options .staff {
  padding-right: 87px;
  padding-bottom: 13px;
}

.company-options .profile {
  padding-right: 39.2px;
  padding-bottom: 13px;
}

.company-options,
.profile-list {
  border: none;
}

/*security solution dropdown menu*/
.security-dropdown-menu {
  padding: 0;
  margin: 0;
  width: 183px;
  height: 173px;
}

.security-div {
  padding: 0;
  margin: 0;
  width: 183px;
}

.security-options {
  width: 184px;
}

.security-options li {
  list-style: none;
  width: 183px;
  height: 43px;
  border-bottom: 1px solid #cccccc;
}

.security-options .perimeter {
  padding-right: 46px;
  padding-bottom: 13px;
}

.security-options .access {
  padding-right: 66px;
  padding-bottom: 13px;
}

.security-options .intrusion {
  padding-right: 43px;
  padding-bottom: 13px;
}

.security-options .fire-alarm {
  padding-right: 40px;
  padding-bottom: 13px;
}

.top-item {
  margin-top: -5px;
}

.bottom-item {
  margin-bottom: -5px;
}

.bottom-border {
  border-bottom: 1px solid #cccccc;
}

/*image section*/
.image-area-one,
.image-area-two,
.image-area-three,
.image-area-four {
  margin-top: -50px;
}

.about-us-image-area,
.our-clients-image-area,
.our-staff-image-area,
.company-profile-image-area,
.automated-gate-image-area,
.fuel-monitoring-image-area,
.car-hire-image-area,
.perimeter-security-image-area,
.cctv-camera-image-area,
.car-alarms-image-area,
.fire-alarm-systems-image-area,
.contact-image-area {
  background-repeat: no-repeat;
  margin-top: -12px;
}

.image-area-one {
  background-image: url("../../assets/home/sliders/automated-gate.jpg");
  height: 315px;
}

.image-area-two {
  background-image: url("../../assets/home/sliders/fuel-monitoring.jpg");
  height: 315px;
  opacity: 0.5;
}

.image-area-three {
  background-image: url("../../assets/home/sliders/security-solutions.png");
  height: 315px;
  opacity: 0.5;
}

.image-area-four {
  background-image: url("../../assets/home/sliders/car-hire-services.jpg");
  height: 315px;
  opacity: 0.5;
}

.about-us-image-area {
  background-image: url("../../assets/company/about-us/articles/about-us.jpg");
  height: 240px;
  opacity: 0.5;
}

.our-clients-image-area {
  background-image: url("../../assets/company/clients/articles/our-clients.jpg");
  height: 240px;
  opacity: 0.4;
}

.our-staff-image-area {
  background-image: url("../../assets/company/staff/articles/our-staff.jpg");
  height: 240px;
  opacity: 0.4;
}

.company-profile-image-area {
  background-image: url("../../assets/company/profile/articles/company-profile.jpg");
  height: 240px;
  opacity: 0.4;
}

.automated-gate-image-area {
  background-image: url("../../assets/automated-gate/articles/automated-gate.jpg");
  height: 240px;
  opacity: 0.4;
}

.fuel-monitoring-image-area {
  background-image: url("../../assets/fuel-monitoring/articles/fuel-monitoring.jpg");
  height: 240px;
  opacity: 0.4;
}

.car-hire-image-area {
  background-image: url("../../assets/car-hire-services/articles/car-hire.jpg");
  height: 240px;
  opacity: 0.4;
}

.perimeter-security-image-area {
  background-image: url("../../assets/security-solutions/perimeter-security/articles/perimeter-security.jpg");
  height: 240px;
  opacity: 0.4;
}

.cctv-camera-image-area {
  background-image: url("../../assets/security-solutions/cctv-camera/articles/cctv-camera.jpg");
  height: 240px;
  opacity: 0.4;
}

.car-alarms-image-area {
  background-image: url("../../assets/security-solutions/car-alarms/articles/car-alarms.jpg");
  height: 240px;
  opacity: 0.4;
}

.fire-alarm-systems-image-area {
  background-image: url("../../assets/security-solutions/fire-alarm-systems/articles/smoke-detector-1880x1254.jpg");
  height: 240px;
  opacity: 0.4;
}

.contact-image-area {
  background-image: url("../../assets/contact/articles/contact.jpg");
  height: 240px;
  opacity: 0.4;
}

.first-client-row,
.second-client-row,
.third-client-row {
  margin-left: 50px;
  margin-right: 50px;
}

.third-client-row {
  padding-top: 20px;
}

.logo-dimensions {
  height: 150px;
}

.uganda-funerals {
  padding-left: 50px;
}

.red-cross {
  padding-top: 25px;
  padding-left: 35px;
}

.rose-foam {
  margin-top: -20px;
}

.water-environment {
  margin-top: -20px;
}

.slide-info-area {
  margin-top: -175px;
  height: 175px;
}

.slide-info-area .div-two {
  height: 175px;
}

.div-two h1 {
  font-size: 340%;
  color: #009fe3;
  font-weight: 900;
  width: 500px;
  margin-bottom: 10px;
}

.div-two .slide-title {
  color: #4f5051;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  width: 500px;
  margin-bottom: 35px;
}

.div-two a {
  background: #009fe3;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  width: 155px;
  padding: 12px 30px 10px 30px;
}

.div-two a:hover {
  background: #ffffff;
  color: #4f5051;
  font-weight: bold;
  text-decoration: none;
  width: 160px;
  padding: 12px 30px 10px 30px;
}

.image-info-area {
  background: #009fe3;
  height: 134px;
  text-align: center;
}

.image-info-area .slide-icons {
  padding-top: 10px;
  font-size: 50px;
  padding-bottom: 10px;
}

.slide-icons .center-icon {
  padding: 0 50px 10px 80px;
}

.image-info-area .slide-icons a {
  padding-top: 20px;
  color: #d8d8d8;
  text-align: center;
  text-decoration: none;
}

.image-info-area .slide-icons a:hover {
  color: #ffffff;
}

.image-info-area .security-solutions {
  width: 300px;
}

.image-info-area .vehicle-slide-view a,
.image-info-area .fuel-slide-view a,
.image-info-area .security-slide-view a,
.image-info-area .car-hire-slide-view a {
  color: #ffffff;
}

/*main section*/
.main-content-section {
  border: none;
}

.main-content-section .company-moto {
  text-align: center;
  padding: 20px 0 10px 0;
  box-sizing: border-box;
}

.main-content-section .company-choice {
  text-align: center;
  color: #4f5051;
  font-weight: bold;
  padding-bottom: 20px;
}

.horizontal-line .horizontal-div {
  border: 1px solid grey;
  opacity: 0.4;
}

.values {
  padding: 30px 0 60px 30px;
}

.values .values-icons {
  font-size: 50px;
}

.values .values-icons h4 {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.values-icons .center-icon {
  width: 100px;
}

.values-icons .values-link {
  margin-left: 50px;
}

.values .values-icons a {
  color: #999999;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}

.values .values-icons a {
  color: #999999;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}

.values .values-icons a:hover {
  padding-bottom: 10px;
  border-bottom: 4px solid #009fe3;
}

/*installation area*/
.installations {
  padding-bottom: 100px;
}

.installations .installation-image-area {
  background-image: url("../../assets/home/articles/installation.jpg");
  background-repeat: no-repeat;
  height: 415px;
}

.installation-details .installation-title-area {
  margin-top: -205px;
}

.installation-details .installation-title-area {
  position: relative;
  text-align: center;
}

.installation-title-area .centered {
  background: #000000;
  line-height: 40px;
  padding: 20px 20px 0 20px;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

.installation-title-area .centered h2 {
  font-size: 42px;
  color: #ffffff;
  font-weight: 1000;
  padding-bottom: 15px;
}

.installation-title-area .centered p {
  font-size: 32px;
  color: #ffffff;
  padding-bottom: 15px;
}

.installation-title-area .centered a {
  background: #009fe3;
  font-weight: 700;
  color: #ffffff;
  padding: 10px 10px;
  text-decoration: none;
  opacity: 1;
}
.more-installation-details {
  text-align: center;
  margin-top: -100px;
}

.more-installation-details a {
  background: #009fe3;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  text-decoration: none;
}

/*About us and Our Clients*/
.about-us-info,
.our-clients-info {
  padding-top: 30px;
  padding-left: 120px;
  height: 550px;
}

.about-us-title h1,
.our-clients-title h1,
.our-staff-title h1,
.company-profile-title h1,
.automated-gate-title h1,
.fuel-monitoring-title h1,
.car-hire-title h1,
.perimeter-security-title h1,
.cctv-camera-title h1,
.car-alarms-title h1,
.fire-alarm-systems-title h1,
.contact-title h1 {
  color: #009fe3;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
}

.about-us-details .about-us-bottom {
  padding-top: 20px;
}

.about-us-details h3,
.about-us-details-two h3 {
  color: #009fe3;
  font-size: 30px;
  padding-bottom: 20px;
}

.about-us-details {
  width: 600px;
}

.about-us-details p {
  font-size: 13px;
}

.about-us-details-two {
  margin-top: 63px;
  width: 500px;
}

.about-us-details-two p {
  font-size: 13px;
  padding-bottom: 20px;
}

.first-values-list ul,
.second-values-list ul {
  font-size: 13px;
  padding-left: 15px;
  font-weight: 700;
}

.first-values-list ul li,
.second-values-list ul li {
  padding-bottom: 10px;
  list-style-type: square;
}

.about-us-info .download-profile-div {
  padding-top: 20px;
}

.about-us-details .download-profile-div h4 {
  font-size: 20px;
  color: #009fe3;
}

.about-us-info .download-profile-div h4 a {
  color: #009fe3;
  text-decoration: none;
}

.download-profile-div i {
  font-size: 25px;
  color: #009fe3;
}

.contact-div {
  background: #009fe3;
  color: #ffffff;
  text-align: center;
  height: 100px;
  padding-top: 35px;
}

.contact-div h3 {
  font-size: 30px;
  font-weight: 700;
}

.contact-div h3 a {
  color: #ffffff;
  text-decoration: none;
}

.contact-div h3 a:hover {
  color: red;
}

/*Our Staff*/
.our-staff-info {
  padding-top: 30px;
  padding-left: 80px;
  height: 940px;
}

.first-staff-row,
.second-staff-row,
.third-staff-row {
  margin-left: 5px;
}

.ceo-div,
.administrator-div,
.accountant-div,
.technical-manager-div,
.lead-technician-div,
.technician-one-div,
.technician-two-div,
.support-one-div,
.support-two-div,
.chef-div {
  border: 1px solid #e8e1e1;
  width: 270px;
  height: 250px;
  padding-left: 0px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.ceo-div img,
.administrator-div img,
.accountant-div img,
.technical-manager-div img,
.lead-technician-div img,
.technician-one-div img,
.technician-two-div img,
.support-one-div img,
.support-two-div img,
.chef-div img {
  width: 268px;
  height: 180px;
}

.ceo-div h4,
.administrator-div h4,
.accountant-div h4,
.technical-manager-div h4,
.lead-technician-div h4,
.technician-one-div h4,
.technician-two-div h4,
.support-one-div h4,
.support-two-div h4,
.chef-div h4 {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

/*Company profile*/
.company-profile-info {
  padding-top: 30px;
  padding-left: 120px;
  height: 260px;
}

.company-profile-details {
  color: #009fe3;
  padding-top: 20px;
  text-align: center;
}

.company-profile-details a {
  text-decoration: none;
}

.company-profile-details a:hover {
  color: #009fe3;
}

.larger-profile-icon {
  font-size: 30px;
}

/* Vehicle Tracking, Fuel Monitoring, Car Hire, Perimeter Security
 Access Control, Intrusion Detection */
.automated-gate-info,
.fuel-monitoring-info,
.car-hire-info,
.perimeter-security-info,
.cctv-camera-info,
.car-alarms-info,
.fire-alarm-systems-info,
.contact-info {
  padding-top: 30px;
  padding-left: 80px;
}

.automated-gate-info {
  height: 380px;
}

.automated-gate-details-one,
.fuel-monitoring-details-one,
.car-hire-details-one,
.perimeter-security-details-one,
.cctv-camera-details-one,
.car-alarms-details-one,
.fire-alarm-systems-details-one,
.contact-details-one {
  width: 600px;
  margin-right: 60px;
}

.automated-gate-details-one p,
.fuel-monitoring-details-one p,
.car-hire-details-one p,
.perimeter-security-details-one p,
.cctv-camera-details-one p,
.car-alarms-details-one p,
.fire-alarm-systems-details-one p {
  font-size: 13px;
  padding-bottom: 10px;
}

.car-hire-details-one h4 {
  color: #009fe3;
}

.automated-gate-details-two,
.fuel-monitoring-details-two,
.car-hire-details-two,
.perimeter-security-details-two,
.cctv-camera-details-two,
.car-alarms-details-two,
.fire-alarm-systems-details-two,
.contact-details-two {
  background: #5275ae;
  width: 540px;
  font-size: 13px;
  margin-left: -50px;
  margin-top: -30px;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 50px;
}

.automated-gate-details-two h4,
.fuel-monitoring-details-two h4,
.car-hire-details-two h4,
.perimeter-security-details-two h4,
.cctv-camera-details-two h4,
.car-alarms-details-two h4,
.fire-alarm-systems-details-two h4 {
  color: #ffffff;
  font-weight: 700;
}

.automated-gate-details-two p,
.fuel-monitoring-details-two p,
.car-hire-details-two p,
.perimeter-security-details-two p,
.cctv-camera-details-two p,
.car-alarms-details-two p,
.fire-alarm-systems-details-two p,
.contact-details-two p {
  color: #cccccc;
  padding-bottom: 10px;
}

.products-title-row {
  padding-left: 80px;
  height: 50px;
}

.products-title-row h3 {
  color: #009fe3;
  font-weight: 700;
}

.automated-gate-product-lists,
.fuel-monitoring-assets-list,
.perimeter-security-product-list,
.cctv-camera-product-list,
.car-alarms-product-list,
.fire-alarm-systems-product-list {
  color: #ffffff;
  padding-left: 30px;
}

.automated-gate-product-lists ul li,
.fuel-monitoring-advantage-list ul li,
.fuel-monitoring-assets-list ul li,
.perimeter-security-product-list ul li,
.cctv-camera-product-list ul li,
.car-alarms-product-list ul li,
.fire-alarm-systems-product-list ul li {
  list-style-type: square;
  padding-bottom: 5px;
}

.automated-gate-products-div,
.perimeter-security-products-div,
.cctv-camera-products-div,
.fire-alarm-systems-products-div {
  height: 230px;
  padding-left: 95px;
  margin-bottom: 20px;
}

.automated-gate-products-div .img-div,
.perimeter-security-products-div .img-div,
.cctv-camera-products-div .img-div,
.fire-alarm-systems-products-div .img-div {
  border: 1px solid #e8e1e1;
  padding: 10px;
  width: 280px;
}

.automated-gate-products-div img,
.perimeter-security-products-div img,
.cctv-camera-products-div img,
.fire-alarm-systems-products-div img {
  width: 250px;
  height: 200px;
}

.automated-gate-products-div h3,
.perimeter-security-products-div h3,
.cctv-camera-products-div h3,
.car-alarms-products-div h3,
.fire-alarm-systems-products-div h3 {
  font-weight: 700;
  padding-bottom: 10px;
}

.automated-gate-products-div p,
.car-alarms-products-div p,
.fire-alarm-systems-products-div p {
  padding-bottom: 10px;
  font-size: 13px;
}

.can-details li {
  list-style: none;
}

/* Fuel monitoring and Car Hire Services*/
.fuel-monitoring-info,
.car-hire-info {
  height: 480px;
}

.fuel-monitoring-advantage-list {
  padding-left: 30px;
}

.fuel-monitoring-details-two,
.car-hire-details-two {
  height: 480px;
}

/* Perimeter Security */
.perimeter-security-info {
  height: 370px;
}

.perimeter-security-details-one h4 {
  font-weight: 800;
}

/* Access Control*/
.cctv-camera-info {
  height: 330px;
}

/*Intrusion Detection*/
.car-alarms-info {
  height: 270px;
}

.car-alarms-products-div {
  height: 230px;
  padding-left: 80px;
  margin-bottom: 20px;
}

.car-alarms-products-div .img-div {
  width: 270px;
}

.car-alarms-products-div img {
  width: 250px;
  height: 200px;
}

.car-alarms-products-div .cctv-camera img {
  width: 250px;
  height: 200px;
  padding: 10px;
  border: 1px solid #d5cfcf;
}

/* Fire Alarm Systems */
.fire-alarm-systems-info {
    height: 280px;
}

/*Contact details*/
.contact-details-one {
  height: 400px;
}


.form-row .first-contact-row,
.form-row .second-contact-row {
  height: 34px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.form-row .third-contact-row {
  height: 160px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.form-row .fourth-contact-row {
  height: 36px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.form-row .third-contact-row textarea {
  width: 475px;
  height: 150px;
  text-align: left;
  padding-left: 15px;
}

.first-contact-row .name input {
  width: 230px;
  height: 30px;
  padding-left: 15px;
}

.first-contact-row .email input {
  width: 230px;
  height: 30px;
  margin-left: -60px;
  padding-left: 15px;
}

.second-contact-row .subject input {
  width: 477px;
  height: 30px;
  padding-left: 15px;
}

.form-row .fourth-contact-row button {
  width: 470px;
  height: 34px;
  background: #009fe3;
  color: #ffffff;
  font-weight: 700;
}

.contact-details-two {
  height: 430px;
}

.submit-button {
  width: 500px;
}

.submit-button button {
  margin-left: 90px;
  width: 380px;
  height: 34px;
  font-weight: 800;
  color: #ffffff;
  background: #009fe3;
}

.contact-details-two .business-hours-header {
  padding-top: 10px;
}

.contact-details-two .business-hours {
  color: #ffffff;
  font-weight: 700;
}

.contact-details-two h3 {
  color: #ffffff;
  padding-bottom: 5px;
}


/*main footer*/
.main-footer-section {
  background: #000000;
  opacity: 0.9;
  padding: 60px 0 80px 0;
  font-size: 13px;
}

.main-footer-section h3 {
  color: #ffffff;
  padding-bottom: 12px;
}

.first-footer-column {
  padding-left: 100px;
}

.first-footer-column p {
  margin-bottom: 10px;
}

.first-footer-column a {
  text-decoration: none;
  color: #009fe3;
}

.first-footer-column a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.second-footer-column {
  padding: 15px 0 0 50px;
}

.second-footer-column ul li {
  list-style-type: square;
  color: #009fe3;
}

.second-footer-column .footer-line {
  list-style: none;
  padding: 7px 0 7px 0;
  width: 80px;
  margin-left: -40px;
  opacity: 0.1;
}

.second-footer-column a:hover {
  color: #ffffff;
}

.third-footer-column .footer-company-motto {
  padding-bottom: 10px;
}

/*minor footer*/
.minor-footer-section {
  background: #000000;
  opacity: 0.9;
}
.minor-footer-section hr {
  opacity: 0.1;
}

/*copyright section*/
.copyright-section {
  background: #000000;
  opacity: 0.9;
  height: 120px;
  padding-top: 50px;
}

.copyright-section .copyright-details {
  padding-left: 100px;
}

.social-media-details {
  padding-left: 400px;
}

.social-media-details img {
  width: 20px;
  height: 20px;
}

.social-media-details a {
  padding-left: 10px;
}

.social-media-details a:hover {
  text-decoration: none;
}
